<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}
    </title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}/images/avatar.png" />

    <script src="{{ site.baseurl }}/script.js"></script>

    <!-- <link rel="canonical" href="{{ page.url | prepend: site.url }}" /> -->

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml"
    />

    {% seo %} {% include analytics.html %}
  </head>

  <body>

    <body>
    <div class="wrapper-masthead noselect">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <p class="site-name">
              <a href="/"
                ><img
                  class="site-logo"
                  src="/images/avatar.png"
                  alt="site avatar"
              /></a>
            </p>
            <span class="container-new">
              <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider" />
                <span class="slider round"></span>
              </label>
            </span>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/projects">Projects</a>
            <a href="{{ site.baseurl }}/posts">Posts</a>
            <a class="rss" href="{{ site.baseurl }}/feed.xml">RSS</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">{{ content }}</div>

    <footer>
      <div class="footer_container">
        Achintya, 2021
        <br />
        <div class="footer_links">
          <a
            class="special_link twitter"
            href="https://twitter.com/achintyajha05"
            >Twitter</a
          >
          |
          <a
            class="special_link linkedin"
            href="https://linkedin.com/in/achintyajha"
            >LinkedIn</a
          >
          |
          <a class="special_link github" href="https://github.com/achintyajha"
            >Github</a
          >
          |
          <a class="special_link" href="/feed.xml">RSS</a>
        </div>
      </div>
    </footer>
  </body>
</html>
